<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="notetalocEntities" connectionString="metadata=res://*/Models.notetaloc.csdl|res://*/Models.notetaloc.ssdl|res://*/Models.notetaloc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=k9oqtd07gc.database.windows.net;initial catalog=notetaloc;user id=***;Password=***;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
