@using MyResources = ViewResHome.IndexResource;

@{
    ViewBag.titleHeader = MyResources.titleHeader;
    ViewBag.welcomeMessage = MyResources.welcomeMessage;
    ViewBag.poweredBy = MyResources.poweredBy;
}
<div id="body">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>@ViewBag.titleHeader</h1>
        <p>@ViewBag.welcomeMessage</p>
        <p><a href="http://twitter.github.io/bootstrap/index.html" target="_blank" class="btn btn-primary btn-large">@ViewBag.poweredBy &raquo;</a></p>
    </div>

</div>
