<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>RateYourRent</h1>
            </hgroup>
            <p>
                [Fields should be here to enter all necessary information -- page to be done by Duc and Eric]
            </p>
            <p>
                [Search Button]
            </p>
            <p>
                [Save Button]
            </p>
            <p>
                [*** when save button is pressed and the user is not logged in return message]
            </p>
            <p>
                [Show google map]
            </p>
        </div>
    </section>
</div>
