<div id="body">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>RateYourRent</h1>
        <p>Welcome to the RateYourRent website.  Right now all features are free until we piece them all together and it works fine.</p>
        <p><a href="http://twitter.github.io/bootstrap/index.html" target="_blank" class="btn btn-primary btn-large">Power by Bootstrap - Learn more &raquo;</a></p>
    </div>

</div>
