body {
    padding-top: 50px;
    margin: 0;
    background-image: url('/Images/background/background_8.jpg');
    background-size: 1440px 800px;
    background-repeat: no-repeat;
    display: compact;
    font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.background_div {
    background: rgba(255, 255, 255, 0.78);
    border-radius: 8px 8px 8px 8px;
    padding: 6px;
    width: auto;
    height: auto;
    min-height: 400px;
    margin: auto;
    overflow: auto;
}