body {
    padding-top: 40px;
    margin: 0;
    margin-top:5%;
    background-image: url('/Images/background/background_8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: initial;
    font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.background_div {
    background: rgba(255, 255, 255, 0.78);
    border-radius: 8px 8px 8px 8px;
    padding: 6px;
    width: auto;
    height: auto;
    min-height: 400px;
    margin: auto;
    overflow: auto;
}

input, textarea, .uneditable-input, input[type="text"], input[type="search"] {
    width: 95%;
    margin-bottom: 10px;
}

.centered_div {
    margin: auto;
    float: none;
    display: inline-block;
}

.navbar {
    width: 100%;
    background: #000;

        padding: 0 0 0 0;
}

.navbar-inner{
    width: auto;
    background: #000;
    border: none;
    margin-left: 8%;
    margin-right: 8%;
    padding: 0 0 0 0;
}

.container-fluid {
    width:100%;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.row-fluid {
    margin: auto;
    min-height:inherit;
}

.btn-note {
    background-color: #cf0e0e;
    height: inherit;
    display: inline-block;
}

.btn-recherche {
    background-color: #9ecf35;
    height: inherit;
    display: inline-block;
}

.btn-inscrire {
    background-color: #00ace8;
    height: inherit;
    display: inline-block;
}

.btn-login {
    background-color: #5c5f5c;
    height: inherit;
    display: inline-block;
}

.ul_menu_bar {
    height: inherit;
    height: 67px;
}

.navbar .nav > li > a {
    text-shadow: none;
    display: inline-block;
}

.navbar .nav > li > form > a {
    text-shadow: none;
    display: inline-block;
    color: #fff;
    padding: 10px 15px;
}

.navbar .nav {
    display: inline-block;
}

.nav-collapse .nav > li > a:hover {
    background-color:transparent;
}

.text_justified {
    text-align:justify;
}

.vertical-align {
    vertical-align: middle;
    position:relative;
}

.pre-scrollable {
    max-height: 450px;
    overflow-y: scroll;
}

.red {
    color: #cf0e0e;
}

.border-left {
   border-left: 1px solid black;
}


# page notation

.focus {
    background: #e8edf1;
}


.label {
    text-align: right;
}

.resultInvalid {
    color: red;
    width: 500px;
    padding: 10px;
}

.resultValid {
    color: Lime;
    width: 500px;
    padding: 10px;
}

.btn-white {
    color: #fff;
    height: inherit;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
}

.link-white
{
    color: #fff;
}