@if (HttpContext.Current.Session["UserSessionObject"] != null)
{
    NoteTaLoc.Models.UserTable usertable = (NoteTaLoc.Models.UserTable)HttpContext.Current.Session["UserSessionObject"];
    <li class="btn-inscrire">
    @using (Html.BeginForm("LOGOFF", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {

        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">LOG OFF</a>
    }
    </li>
}
else
{     
    <li class="btn-inscrire">@Html.ActionLink("S'INSCRIRE", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li class="btn-login">@Html.ActionLink("LOGIN", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}