                            @if (Request.IsAuthenticated){
    <text>
        Hello, [add username here]!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {

            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
}
else
{     
    <li style="background-color: #00ace8; height:inherit">@Html.ActionLink("S'INSCRIRE", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li style="background-color: #5c5f5c; height:inherit">@Html.ActionLink("LOGIN", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}