@using MyResources = ViewResShared.ErrorResource;

@{
    Layout = null;
    ViewBag.Title = MyResources.Title;
    ViewBag.Error = MyResources.Error;
    ViewBag.headerTwoError = MyResources.headerTwoError;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <hgroup>
        <h1>@ViewBag.Error
        </h1>
        <h2>@ViewBag.headerTwoError</h2>
    </hgroup>
</body>
</html>