@{
    ViewBag.Title = "Activation Successful";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Activation Successful</h1>
            </hgroup>
            <p>
                You may now log in to your account using your username and password.
            </p>
        </div>
    </section>
</div>


