@{
    ViewBag.Title = "Activation Successful";
}
<section class="featured">
    <div class="row-fluid">
        <div class="span6 offset3 background_div">
            <div class="row-fluid">
                <div class="span12">
                    <div class="content-wrapper">
                        <hgroup class="title">
                            <h2>Activation Reussie</h2>
                            <h4>Merci de nous faire confiance !</h4>
                        </hgroup>
                        <p>
                            Vous pouvez vous connecter a RateYourRent.com a l'aide de votre login/mot de passe.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


