@using MyResources = ViewRes.ActivationSuccessfulResource;

@{
    ViewBag.Title = MyResources.Title;
    ViewBag.headerTitle = MyResources.headerTitle;
    ViewBag.youCanLogIn = MyResources.youCanLogIn;
    
}
<section class="featured">
    <div class="row-fluid">
        <div class="span6 offset3 background_div">
            <div class="row-fluid">
                <div class="span12">
                    <div class="content-wrapper">
                        <hgroup class="title">
                            <h2>@ViewBag.Title</h2>
                            <h4>@ViewBag.headerTitle</h4>
                        </hgroup>
                        <p>
                            @ViewBag.youCanLogIn
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


