@{
    ViewBag.Title = "Activation Already Done";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Activation deja effectuee</h1>
            </hgroup>
            <p>
                L'activation de ce compte a deja ete effectuee. Vous pouvez vous connecter a RateYourRent.com
            </p>
        </div>
    </section>
</div>
