@{
    ViewBag.Title = "Activation Already Done";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Activation Already Done</h1>
            </hgroup>
            <p>
                The key you provided has already been used once for activation. You should be able to log in.
            </p>
        </div>
    </section>
</div>
