@using MyResources = NoteTaLoc.Views.Account.AfterRegisterResource;
@{
    ViewBag.Registrationcomplete = MyResources.Registrationcomplete;
    ViewBag.PleaseFollowInstructions = MyResources.PleaseFollowInstructions;
    ViewBag.emailHasBeenSent = MyResources.emailHasBeenSent;
}
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Registrationcomplete</h1>
                <h2>@ViewBag.PleaseFollowInstructions</h2>
            </hgroup>
            <p>
                @ViewBag.emailHasBeenSent
            </p>
        </div>
    </section>
</div>
