@{
    ViewBag.Title = "Story3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Template adresse -->
<script id="adresse-simple-template" type="text/x-handlebars-template">  
<div class="span12">
    <div class="span8" id="adresse"><h1>{{adresse}}</h1></div>
    <div class="span4" id="noteTotale"><h2>{{moyenneAdresse}} / 5</h2></div>
</div>
</script>

<!-- Template adresse -->
<script id="adresse-template" type="text/x-handlebars-template">  
<div class="span6">
    <div class="span8" id="adresse"><h1>{{adresse}}</h1></div>
    <div class="span4" id="noteTotale"><h2>{{moyenneAdresse}} / 5</h2></div>
</div>
<div class="span6">
    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators" id="img_indicators">
    {{#each images}}
            <li data-target="#myCarousel" data-slide-to="{{image}}"></li>
    {{/each}}
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner" id="img_items">
    {{#each images}}
            <div class="item"><img src="{{uri}}"/></div>
    {{/each}}
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>
</script>

<!-- Template accordéon -->
<script id="users-template" type="text/x-handlebars-template">  
{{#each users}} 
    <div style='margin-top: 2px;'>
        <div style='float: left;'>
            <img alt='Note' src='http://www.jqwidgets.com/jquery-widgets-demo/images/notesIcon.png' />
        </div>
        <div style='margin-left: 4px; float: left;'>{{name}} - {{date}} - [{{note}}]</div>
    </div>
    <div>
        <ul>
            <li>D&eacute;tails : </li>
            {{#each categories}}
                <ul>
                    <li>{{id}}</li>
                    {{#each criteres}}
                        <ul>
                            <li>{{id}} [{{note}}]</li>
                        </ul>
                    {{/each}}
                </ul>
            {{/each}}
        </ul>
        <ul>
            <li>Commentaires : </li>
            {{#each comments}}
                <ul>
                    <li>{{date}} - {{titre}} - {{text}}</li>
                </ul>
            {{/each}}
        </ul>
    </div>
{{/each}}
</script>

<!-- Remplissage de l'accordéon -->
<script type="text/javascript">
    $(document).ready(function () {
        var theme = "bootstrap"; //style pour le composant jqxNavigationBar
        var source = $("#users-template").html();
        var template = Handlebars.compile(source);

        var adresseSimple = $("#adresse-simple-template").html();
        var adresseSimpleTpl = Handlebars.compile(adresseSimple);

        var adresse = $("#adresse-template").html();
        var adresseTpl = Handlebars.compile(adresse);

        var context = { //simulation du JSON fourni
            adresseId: "20135411",
            adresse: "1155 Rue Metcalfe, Montréal, QC H3B 4J5, Canada",
            moyenneAdresse: 5,
            images: [
                {
                    image: 0,
                    uri: "/Images/Story3/sunlife_building_01.jpg"
                },
                {
                    image: 1,
                    uri: "/Images/Story3/sunlife_building_02.jpg"
                },
                {
                    image: 2,
                    uri: "/Images/Story3/sunlife_building_03.jpg"
                }
            ],
            users: [
                {
                    name: "Arnaud", date: "22/12/2012", note: 4,
                    comments: [
                      { titre: "titre 1", date: "22/12/2012", text: "bla bla bla" },
                      { titre: "titre 2", date: "22/12/2012", text: "bla2 bla2 bla2" }
                    ],
                    categories: [
                      {
                          id: 100,
                          criteres: [
                              { id: 1, note: 4 },
                              { id: 2, note: 3 },
                              { id: 3, note: 5 }
                          ]
                      },
                      {
                          id: 200,
                          criteres: [
                              { id: 1, note: 4 },
                              { id: 2, note: 3 },
                              { id: 3, note: 5 }
                          ]
                      }
                    ]
                },
                  {
                      name: "Duc", date: "12/05/2011", note: 3,
                      comments: [
                        { titre: "titre 1", date: "12/05/2011", text: "bla bla bla" },
                        { titre: "titre 2", date: "12/05/2011", text: "bla2 bla2 bla2" }
                      ],
                      categories: [
                        {
                            id: 100,
                            criteres: [
                                { id: 1, note: 4 },
                                { id: 2, note: 3 },
                                { id: 3, note: 5 }
                            ]
                        },
                         {
                             id: 300,
                             criteres: [
                                 { id: 1, note: 4 },
                                 { id: 2, note: 3 },
                                 { id: 3, note: 5 }
                             ]
                         }
                      ]
                  },
                  {
                      name: "Christophe", date: "05/12/2010", note: 2,
                      comments: [
                          { titre: "titre 1", date: "05/12/2010", text: "bla bla bla" },
                          { titre: "titre 2", date: "05/12/2010", text: "bla2 bla2 bla2" }
                      ],
                      categories: [
                            {
                                id: 200,
                                criteres: [
                                    { id: 1, note: 4 },
                                    { id: 2, note: 3 },
                                    { id: 3, note: 5 }
                                ]
                            },
                            {
                                id: 300,
                                criteres: [
                                    { id: 1, note: 4 },
                                    { id: 2, note: 3 },
                                    { id: 5, note: 5 }
                                ]
                            }
                      ]
                  }
            ]
        };

        // les libellés correspondants
        var libellesCategories = [
           { ID: 100, LIB: "Isolation" },
           { ID: 200, LIB: "Environnement" },
           { ID: 300, LIB: "Equipement" }
        ];

        var libellesCriteres = [
           { ID: 1, LIB: "Accoustique" },
           { ID: 2, LIB: "Thermique" },
           { ID: 3, LIB: "Electrique" },
           { ID: 5, LIB: "Cuisine équipée" }
        ];

        var libelles = libellesCriteres.concat(libellesCategories); // on groupe le tout en un seul dictonnaire

        $.each(context.users, function () { // on réalise le mapping en utilisant des fonctions jQuery standard
            $.each(this.categories, function () {
                var id = this.id;
                var test = $.grep(libelles, function (e) { return e.ID == id; });
                if (test[0] != null) {
                    this.id = test[0].LIB;
                }
                $.each(this.criteres, function () {
                    var id = this.id;
                    var test = $.grep(libelles, function (e) { return e.ID == id; });
                    if (test[0] != null) {
                        this.id = test[0].LIB;
                    }
                });
            });
        });

        var code = template(context); // remplissage du template avec les données issues du contexte

        var adresseCtx = (context.images) ? adresseTpl(context) : adresseSimpleTpl(context);

        $("#jqxNavigationBar").html(code);
        $("#jqxNavigationBar").jqxNavigationBar({width: '100%', expandMode: 'multiple', theme: theme });

        $("#adresseDetails").html(adresseCtx);

        $("#img_indicators li:first").addClass("active");
        $("#img_items div:first").addClass("active");
    });
</script>

<h2>Story3 : détails d'une adresse</h2>

<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="/Images/Story3/button_close.png" /> </button>
            <h3>&nbsp;</h3>
        </div>
        <div class="row-fluid background_div">
            <div id='adresseDetails'></div>
        </div>
        <div class="row-fluid span12" id='jqxNavigationBar'></div>
    </div>
</div>
